@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: url(image/bg.jpg) right no-repeat;
    background-size: cover;
}

.sidebar-container {
    position: fixed;
    height: 100%;
    width: 280px;
    background: #0000005c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

.menu {
    position: absolute;
    top: 70px;

    width: 100%;
}

.menu ul li {
    list-style: none;
    padding-left: 30px;
    transition: all 0.3s linear;

}

.menu a {
    color: rgba(255, 255, 255, 0.945);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    transition: all 0.3s linear;
}

.menu li:hover {
    background: rgba(216, 216, 216, 0.308);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.menu li:hover a {
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.social-link {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
}
.social-link a {
	text-decoration: none;
	color: #d4d4d4;
    transition: 0.6s ease-in-out;
}
.social-link li:hover a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    transform: rotate(360deg);
}
.social-link ul li {
	list-style: none;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.social-link ul {
	display: flex;
}
.social-link ul li:last-child{
    margin-right: 0px;
}
